# editor config
.vscode/

# object files
**/build/
*.o
*.out

# runtime
server_runtime/
analysis.txt
c_code_server.c
client_outputs/
diff_out.txt
error_output.txt
myqueue.o
out_gen.txt
loadtesting/runtimes/